.header{
    display: flex;
    background-color: rgb(217, 227, 242);
    width: 1350px;
    font-size: 20px;
    padding: 40px;
}
.a0{
    color: black;
    text-align: center;
}
.a2{
    padding-left: 80px;
}
.a3{
    padding-left: 993px;
}

.wrap{
    margin-top: 20px;
}
.searchTerm{
    width: 700px;
    height: 30px;
    margin-left: 50px;
    border-radius: 8px;
    border: 1px solid #b5b5b5;
}
.searchButton{
    width: 70px;
    height: 35px;
    background-color: #82d886;
    border: 1px;
    color: white;
    border-radius: 6px;
}
.addnew{
    background-color: #05d6f3;
    border: 1px;
    border-radius: 6px;
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    width: 100px;
}
.button_search{
    border: 1px solid rgb(210, 210, 210);
    margin-top: 50px;
    float: right;
    padding-right: 314px;
    padding-bottom: 25px;
}
.list-menu{
    display: flex;
    justify-content: center;
    padding-right: 150px;
    padding-left: 20px;
    width: 97%;
} 
.button1{
    background-color: #f6b71c;
    color: white;
    border: 1px #f6b71c;
    width: 50px;
    height: 30px;
    border-radius: 6px;
}
.button2{
    background-color: #d63a3a;
    color: white;
    border: 1px #d63a3a;
    width: 65px;
    height: 30px;
    border-radius: 6px;
}
.header_left{
    border: 1px solid rgb(210, 210, 210);
    float: right;
    margin-top: 20px;
    width: 80%;
}
.id{
    border-bottom: 2px solid rgb(210, 210, 210);
}
.name{
    padding-left: 20px;
    height: 50px;
    border-bottom: 2px solid rgb(210, 210, 210);
}
.price{
    padding-left: 10px;
    height: 50px;
    border-bottom: 2px solid rgb(210, 210, 210);
}
.info{
    padding-left: 15px;
    border-bottom: 2px solid rgb(210, 210, 210);
}
.detail{
    padding-left: 10px;
    border-bottom: 2px solid rgb(210, 210, 210);
}
.star{
    padding-left: 10px;
    border-bottom: 2px solid rgb(210, 210, 210);
}
.image{
    padding-left: 10px;
    border-bottom: 2px solid rgb(210, 210, 210);
}
.nxs{
    padding-left: 15px;
    border-bottom: 2px solid rgb(210, 210, 210);
}
.categori{
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 2px solid rgb(210, 210, 210);
    width: 80px;
}
.edit{
    border-bottom: 2px solid rgb(210, 210, 210);
    padding-right: 20px;
}
.delete{
    padding-left: 10px;
    border-bottom: 2px solid rgb(210, 210, 210);
    padding-right: 50px;
}
.DetailSection{
    float: left;
    margin-top: -15px;
}
.list-group{
    list-style: none;
}
.btnClass {
    width: 125px;
    height: 20px;
    background-color: white;
    text-align: center;
}
.list-group-item{
    border: groove;
}
.panel-body{
    border: 1px solid rgb(210, 210, 210);
    height: 120px;
    margin-left: 40px;
}
.form-control{
    width: 80%;
    height: 50px;
    margin-left: 12px;
    border: 1px solid #ababab;
    margin-top: 12px;
}
.btn-default{
    margin-top: 18px;
    margin-left: 12px;
    width: 40%;
    height: 32px;
    background-color: white;
    border: 1px solid #ababab;
}
.list-end2{
    display: flex;
    list-style: none;
    margin-top: 80px;
}
.q1{
    width: 32px;
    height: 30px;
    background-color: white;
    border: 1px solid rgb(210, 210, 210);
    color: #05d6f3;
}
.q2{
    
    width: 32px;
    height: 30px;
    background-color: #05d6f3;
    border: 1px solid rgb(210, 210, 210);
    color: white;
}
button.btn.btn-primary.open-modal{
    margin-left: 25px;
    margin-top: 15px;
    height: 40px;
    background-color: #9adcf9;
    color: white;
    border: 1px;
    border-radius: 7px;
    width: 80px;
}
.a1{
    padding-right: 65px;
}
button.btn.btn-info.open-modal-orange{
    background-color: #f1b800;
    width: 60px;
    height: 35px;
    color: white;
    border: 1px;
    border-radius: 6px;
}
button.btn.btn-info.open-modal-red{
    background-color: #f10000;
    width: 60px;
    height: 35px;
    color: white;
    border: 1px;
    border-radius: 6px;
}


