.container{
    width: 100%;
}
.banner{
    font-size: 20px;
    padding: 20px;
    background-color: #ffd400;
}
.banner1{
    display: flex;
    padding-right: 20px;
}
.div2{
    padding-left: 5%;
}
.div3{
    padding-left: 60%;
}
.div4{
    padding-left: 45px;
}
.js{
    display: inline-block;
}
li{
    list-style: none;
    margin-left: 65px; 
}
.table{
    display: flex;
}
.table_samsung{
    display: flex;
}
.link{
    text-decoration: none;
    color: black;
}



