.banner{
    font-size: 20px;
    padding: 20px;
    background-color: #ffd400;

}

.banner1{
    display: flex;
    padding-right: 20px;

}

.div2{
    padding-left: 5%;
}

.div3{
    padding-left: 60%;
}

.div4{
    padding-left: 45px;
}

.image{
    text-align: center;

}

.image{
    width: 100px;
}

.text{
    font-size: 20px;
}



#image-container{
    display: flex;
    padding-top: 100px;
    width: 1750px;
}

.anh{
    padding-left: 7%;
}
